**Getting Started with Python**

In [ ]:
# My first program

print("Hello World")

Hello World

**Variables and data types in Python.**
Here are some examples of declaring and using variables with different data types in Python:

In [ ]:
# Integer variable
x = 10

# Floating-point variable with 2 decimal places
y = 3.14

# String variable
name = "Govind"
name_2 = 'Prashant'

# Boolean variable "True" or "False"
is_active = True

# List variable
fruits = ["apple", "banana", "orange"]
students = ["gaurav", 12, "India"]

# Dictionary variable
person = {"name": "Govind", "age": 32}

# Set variable have non repeating values
my_set = {1, 2, 3}

# Tuple variable immutable list
my_tuple = (1, 2, 3)

**Below are some examples of basic arithmetic and mathematical operations in Python:**

In [1]:
# Addition (+): This operator is used to add two or more numbers together.
a = 5
b = 3
c = a + b
print(c)

8

In [2]:
# Subtraction (-): This operator is used to subtract one number from another.
a = 5
b = 3
c = a - b
print(c)

2

In [3]:
# Multiplication (*): This operator is used to multiply two or more numbers together.
a = 5
b = 3
c = a * b
print(c)

15

In [4]:
# Division (/): This operator is used to divide one number by another.
a = 5
b = 3
c = a / b
print(c)

1.6666666666666667

In [5]:
# Floor Division (//): This operator is used to divide one number by another and returns the floor of the result.
a = 5
b = 3
c = a // b
print(c)

1

In [6]:
# Modulus (%): This operator is used to get the remainder of a division operation.
a = 5
b = 3
c = a % b
print(c)

2

In [7]:
# Exponentiation (**): This operator is used to raise a number to a power.
a = 2
b = 3
c = a ** b
print(c)

8

**Python provides built-in data structures: lists, tuples, set and dictionaries, which can be used to store and manipulate data in various ways.**

In [8]:
# Lists: A list is a mutable collection of values that are ordered and can be accessed by an index. Lists are created using square brackets [].
my_list = [1, 2, 3, 4, 5, 'Apple', 'Ball']
print(my_list)

[1, 2, 3, 4, 5, 'Apple', 'Ball']

In [10]:
# Accessing elements of a list using indexing and slicing
print(my_list[0])   
print(my_list[2:4])
print(my_list[-1])

1
[3, 4]
Ball

In [11]:
# Tuples: A tuple is an immutable collection of values that are ordered and can be accessed by an index. Tuples are created using parentheses ().
my_tuple = (1, 2, 3, 4, 5, 'cat', 'dog')
print(my_tuple)

(1, 2, 3, 4, 5, 'cat', 'dog')

In [15]:
# Accessing elements of a tuple using index and slicing
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0])   
print(my_tuple[2:4]) 
print(my_tuple[-1])

1
(3, 4)
5

In [19]:
# Set is an unordered collection of unique elements. Sets are similar to lists and tuples, but unlike lists and tuples, they cannot contain duplicate elements.
# Sets are created using curly braces {} or the set() function.
my_set = {1, 2, 3, 4, 5} # using curly braces
print(my_set)   

another_set = set([4, 5, 6, 7, 8]) # using set() function
print(another_set)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [16]:
# Dictionaries: A dictionary is a mutable collection of key-value pairs that are unordered and can be accessed by the key. Dictionaries are created using curly braces {}.
my_dict = {'name': 'Aman', 'age': 35, 'city': 'Mumbai'}
print(my_dict)

{'name': 'Aman', 'age': 35, 'city': 'Mumbai'}

In [18]:
# Accessing elements of a dictionary
print(my_dict['name'])
print(my_dict['age'])

Aman
35