<a href="https://colab.research.google.com/github/Prashantkr57/Python-for-Data-Analyst/blob/main/Python_for_Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Getting Started with Python**

In [2]:
# My first program

print("Hello World")

Hello World

**Variables and data types in Python.**
Here are some examples of declaring and using variables with different data types in Python:

In [3]:
# Integer variable
x = 10

# Floating-point variable with 2 decimal places
y = 3.14

# String variable
name = "Govind"
name_2 = 'Prashant'

# Boolean variable "True" or "False"
is_active = True

# List variable
fruits = ["apple", "banana", "orange"]
students = ["gaurav", 12, "India"]

# Dictionary variable
person = {"name": "Govind", "age": 32}

# Set variable have non repeating values
my_set = {1, 2, 3}

# Tuple variable immutable list
my_tuple = (1, 2, 3)